---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the proyect">
    <h1>
        About the proyect
    </h1>
    <p>
        This is a simple project to learn Astro, I'm using it for my personal website and blog. It's based on TailwindCSS with some
    </p>

</Layout>
