---

console.log("hola")
---

<nav class="gap-10 flex flex-row justify-center bg-blue-500 rounded-lg w-30">
    <ul class="flex items-center justify-center md:flex-row gap-10 text-white">
        <a class="text-white" href="about">Acerca de nosotros</a>
        <li><a href="./index">Contacto</a></li>
        <li><a href="poke">Pokedex</a></li>
        <li><a href="nasa">Nasa</a></li>

    </ul>
</nav>